<style>
    .W88e {
        margin:0 auto;
        width:700px;
        padding:50px 0
    }
    h2 {
        font-size:18px;
        line-height:28px
    }
    table {
        width:100%;
        border-collapse:collapse;
        border:1px solid
    }
    table th, table td {
        padding:5px
    }
    table .head {
        background-color:blue;
        color:#FFF
    }
    table td {
        font-size:13px
    }
</style>
<div class="W88e">
    <div style="margin-bottom:15px">
        <div>
            <h2>Clasificación de errores</h2>
            <div>
                <div>10: Frontend</div>
                <div>20: Backend</div>
                <div>30: Documentación</div>
            </div>
        </div>
    </div>
    <div>
        <table>
            <tbody>
                <tr class="head">
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Callstack</th>
                    <th>Archivo</th>
                    <th>Linea</th>
                    <th>Corregido</th>
                    <th>Riesgo</th>
                </tr>
                <tr class="content">
                    <td>1</td>
                    <td>8-03-2019</td>
                    <td>10</td>
                    <td>JS</td>
                    <td>js/Y8fkWV.js</td>
                    <td>NA</td>
                    <td>NO</td>
                    <td>BAJO</td>
                </tr>
                <tr class="content">
                    <td>2</td>
                    <td>10-03-2019</td>
                    <td>10</td>
                    <td>JS</td>
                    <td>js/base.js</td>
                    <td>NA</td>
                    <td>NO</td>
                    <td>BAJO</td>
                </tr>
                <tr class="content">
                    <td>3</td>
                    <td>10-03-2019</td>
                    <td>20</td>
                    <td>PHP</td>
                    <td>src/controllers/ViewController.php</td>
                    <td>59</td>
                    <td>NO</td>
                    <td>MEDIO</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>