<style>
    .Jwku {
        padding:60px 0;
        margin:0 auto;
        width: 400px;
        position:relative;
    }
    .nZ8s, .Kd93 {
        background-color:#FEFEFE;
        border-radius:4px;
        box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.05);
        border:1px solid #EFEFEF
    }
    .Jw85 {
        display:flex
    }
    .Jw85 .Nv8w {
        margin-left:auto
    }
    .Jv88 {
        margin:0px 40px 0px 48px;
        position:relative;
    }
    .V8z8 {
        padding:42px 0px 125px 0px;
        position:relative
    }
    .Hc8R {
        width:100%
    }
    .Wjj73 {
        margin-bottom:52px
    }
    .Mxd8 {
        position:relative;
        overflow:hidden;
        padding-top:18px;
        white-space:nowrap
    }
    .Jjyd, .Kdw99 {
        font-size:25px;
        font-weight:400;
        line-height:1.4;
        margin:10px 0px
    }
    .Ndwj {
        padding-top:32px;
        margin:0px 40px 0px 40px
    }
    .jfWw, .Kd82 {
        display:inline-block;
        position:relative;
        width:100%;
        padding-right:8px;
        padding-bottom:8px;
    }
</style>
<div class="Jwku Ks88">
    <div class="nZ8s Nx8w">
        <div class="Ndwj">
            <h2 class="Jjyd">Inicio de sesión</h2>
            <h4>Inicia sesión para administrar tu hotel</h4>
        </div>
        <div class="Jw99 Jv88">
            <div class="V8z8 Yi9w">
                <div class="Mxd8" style="overflow:hidden">
                    <div class="jfWw dwwV">
                        <div class="Yn37w Wjj73">
                            <input id="j_0_a" class="md-input md-outline Hc8R" type="text" name="email" autocomplete="email">
                            <label for="">Correo electrónico</label>
                            <span class="__helper"></span>
                        </div>
                        <div class="jz8W YoW8">
                            <div class="Jw85 sJS8">
                                <button class="sj85 Cz4d">Olvidé mi correo</button>
                                <button id="j_0_c" class="md-button md-blue600 Nv8w" raised type="button">siguiente</button>
                            </div>
                        </div>
                    </div>
                    <div class="jfWw dwwV">
                        <div class="Yn37w Wjj73">
                            <input id="j_0_a" class="md-input md-outline Hc8R" type="pass" name="pass" autocomplete="current-password">
                            <label for="">Contraseña</label>
                            <span class="__helper"></span>
                        </div>
                        <div class="jz8W YoW8">
                            <div class="Jw85 sJS8">
                                <button class="sj85 Cz4d">Olvidé mi contraseña</button>
                                <button id="j_0_c" class="md-button md-blue600 Nv8w" raised type="button">siguiente</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <button class="">Idioma</button>
        </div>
    </div>
</div>