<div class="appbar" data-role="" style="background-color:#FFF">
    <div class="Jwhs">
        <div class="Yjj8 Ndj8">
            <div>
                <div>
                    <div></div>
                </div>
            </div>
            <div>
                <div>
                    <div class="md-tabs Jjc8">
                        <a href="/" class="md-tab Ejf8" role="tab">
                            <div class="__text">{{translate.str_menu_home_option}}</div>
                        </a>
                        <a href="/benefits" class="md-tab Ejf8" role="tab">
                            <div class="__text">{{translate.str_menu_benefits_option}}</div>
                        </a>
                        <a href="/howitworks" class="md-tab Ejf8" role="tab">
                            <div class="__text">{{translate.str_menu_howitworks_option}}</div>
                        </a>
                        <a href="/resources" class="md-tab Ejf8" role="tab">
                            <div class="__text">{{translate.str_menu_resources_option}}</div>
                        </a>
                        <a href="/getStarted" class="md-tab Ejf8" role="tab">
                            <div class="__text">{{translate.str_menu_getstarted_option}}</div>
                        </a>
                        <div class="md-tab-indicator"></div>
                    </div>
                </div>
            </div>
            <div class="nj93">
                <div>
                    <div class="s0Wk Jc8d">
                        <div class="Wj8v Js73" role="button">
                            <div class="Mcw">{{user.name}}</div>
                            <div class="Mc6">
                                <span class="md-icon _ic_0e6"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Jwhs md-blue600">
        <div class="Jwks JctY">
            <div>
                <h2 class="J8y8">Confirma tu cuenta</h2>
            </div>
        </div>
    </div>
</div>