<style>
.WyjJ {
    margin:0 auto;
    width:700px
}
.Nv88 {
    padding:28px;
    background-color:#FFFFFF;
    position:relative;
    border-radius:3px;
    box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
</style>
<div class="WyjJ">
    <div class="Nv88">
        <div>
            <div>
                <h2>{{translate.title}} </h2>
                <div>Para continuar primero verifica el link que se te ha enviado a {{user.email}}</div>
            </div>
            <div>
                <div>
                    <button class="md-button md-blue600" type="button" raised>continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>