<style>
.MuWj {
    position:relative;
    padding:50px 0
}
.Wnvu {
    margin:0 80px
}
</style>
<div class="MuWj Mdj3" data-section>
    <div class="Wnvu Js8w">
        <div class="Jhds Vzsk">
            <div class="Jw99">
                <div>
                    <div>
                        <h2>¿Eres propietario de un hotel o casa de hospedaje?</h2>
                        <p></p>
                        <a rel="nofollow" href="/AccountService/signup/">
                            <button class="md-button" type="button">Regístrate ahora</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Wnvu Js8w">
        <div class="Jhds Vzsk">
            <div>
                <h2>Hoteles cerca de tí</h2>
            </div>
            <div>
                <div id="j_y_0" class=""></div>
            </div>
            <div>
                <button type="button">ver más</button>
            </div>
        </div>
    </div>
</div>