<style>
    .Gkcs {
        padding:20px 0;
        margin:0px 24px
    }
    .Szd8 {
        display:flex
    }
    .sSw4 {
        margin-left:auto
    }
    .Szd8 ul {
        list-style:none;
        display:flex
    }
    .Szd8 ul > li {
        margin-left:16px
    }
</style>
<div class="Ygds wwhE">
    <div class="Gkcs">
        <div></div>
        <div>
            <div class="Szd8">
                <div class="JJs6">
                    <span>&copy; 2019 Koos Industries</span>
                </div>
                <div class="JJs6 sSw4">
                    <ul>
                        <li><a href="terms/">términos de uso</a></li>
                        <li><a href="about/">acerca de</a></li>
                        <li><a href="privacy">privacidad</a></li>
                        <li><a href="help">ayuda</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>